#ss{
    display: flex;
    justify-content: space-evenly;
}
/* personal information */
body{
    font-family: Arial, sans-serif;
    background:#f3f4f6;
    height: 900px;
}

.info-box{
    width:30%;
    padding:25px;
    background:white;
    border-radius:10px;
    margin-left: 38px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.info-box h2{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    margin-bottom:15px;
}

.input-box label{
    font-size:14px;
    font-weight:bold;
}

.input-box input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

.input-box input:focus{
    outline:none;
    border-color:#4CAF50;
}

.submit-btn{
    width:100%;
    padding:10px;
    border:none;
    background:#4CAF50;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

.submit-btn:hover{
    background:#43a047;
}
@media(max-width:700px){

.info-box {
    margin-top: 10px;
    width: 90%;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
#ss{
    height: 1200px;
    flex-direction: column;
}
}  @media(max-width:700px){
    body {
        height: 100px !important;
    }
}
